.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px; 
}

.header__menu {
  justify-self: start;
  margin-bottom: 5px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 33px;
}

.header__links-list-item .header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}


.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header__logo {
  /* display: block; */
  width: 148px;
}

.header__logo-image {
  width: 148px;
  max-height: 105px;
}

.address {
  font-style: normal;
  text-underline-offset: 4px;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
}

.header__address {
  justify-self: end;
  padding: 1px 36px 5px 0;
}


.cover {
  position: relative;
  margin-top: 3px;
  width: 1100px;
  min-height: 757px;
  background: url(../images/cover.jpg) no-repeat center / cover;
  padding: 165px 50px 50px 50px; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
}

.cover__title {
  position: relative;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #fff;
  margin-bottom: 106px;
  z-index: 1;
}

.aligned-text {
  display: grid;
  width: 100%;
}

.aligned-text_left {
  align-items: start;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
}

.aligned-text_right {
  text-align: end;
  margin-top: 20px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  width: 1000px;
} 

.cover__description-text {
  white-space: nowrap;
  padding: 12px 107px 11px 0;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
  text-transform: uppercase;
  color: #fff; 
}

.bet-button {
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  width: 100%; 
}

.lots {
  margin-top: 180px;
  margin-bottom: 120px;
}

.lots__heading {
  margin-top: 180px;
  margin-left: 64px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 27px 24px 0px 24px;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  min-height: 596px;
  width: 334px;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 100%;
  z-index: 2;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.card__title {
  position: relative;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  position: relative;
  align-self: flex-end;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  color: #fff;
}


.lots__look-more-link {
  display: flex;
  margin-left: 64px;
  margin-top: 30px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  color: #000;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-top: 122px;
  min-width: 1052px;
}

.about__column {
  display: flex;
}

.about__column-left {
  display: flex;
  justify-content: center;
  padding: 32px 0px 320px 47px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  background-image: url(../images/logo-white.svg);
  width: 148px;
  height: 114px;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  padding: 133px 28px 13px 50px;
  gap: 100px;
  width: 100%;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 119%;
  color: #000;
}

footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 167px;
  max-width: 1100px;
  padding: 0 50px 82px;
}

.footer__address {
  padding-top: 1px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item .footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
